.page-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.error {
  color: red;
  font-weight: bold;
  margin-bottom: 15px;
}

.table-wrapper {
  overflow-x: auto;
}

.dealer-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.dealer-table th,
.dealer-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.dealer-table thead tr {
  background-color: #e8f3ff;
  font-weight: bold;
}

.dealer-table tbody tr:nth-child(even) {
  background-color: #f8fbff;
}

.edit-btn {
  background-color: #4da3ff;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #1a84e6;
}

.create-btn-bottom-right {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.create-btn {
  background: #4da3ff;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s ease;
}

.create-btn:hover {
  background: #1a84e6;
}

/* EDIT DEALER */
.dealer-form-container {
  width: 50%;
  max-width: 600px;
  margin: 20px auto;
}

.dealer-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  font-family: Arial, sans-serif;
}

.dealer-form label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 600;
  color: #003d80;
}

.dealer-form input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #c9d8f3;
  border-radius: 6px;
  margin-top: 5px;
}

.dealer-form input:focus {
  outline: none;
  border-color: #4da3ff;
  box-shadow: 0px 0px 4px rgba(77, 163, 255, 0.4);
}

.dealer-submit-btn {
  background: #4da3ff;
  color: white;
  padding: 12px 0;
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 200px;
}

.dealer-submit-btn:hover {
  background: #1d8cff;
}

.error {
  color: red;
  font-size: 18px;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  color: #003d80;
  margin-bottom: 15px;
}
